---
import { ProductList } from '@/components';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';

//import { getSession } from 'auth-astro/server';
//const session = await getSession(Astro.request);
//const user = session?.user;

const searchParams = Astro.url.searchParams;
const page = Number(searchParams.get('page')) || 1;

const { data, error } = await actions.getProductsByPage({
  page
});

if(error){
  return Astro.redirect('/');
}

const { products, totalPages } = data

---

<MainLayout>
  <h1 class="text-3xl">Listado de productos</h1>
  <ProductList client:load products={products} />
  <Pagination totalPages={totalPages}/>
</MainLayout>
